.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: -5%;
  &-close {
    cursor: pointer;
    font-size: 48px;
    position: absolute;
    top: 20px;
    right: 50px;
    color: rgb(58, 6, 6);
    background: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
  }
  img {
    width: 100%;
    height: 100vh;
  }
}
