@import "./variables";
body,
html {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  box-sizing: border-box;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  line-height: $base-line-height;

  @media #{$mq-xsmall} {
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 1.2;
  }

  @media #{$mq-medium} {
    font-size: $base-font-size * 1;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.1;
  }
}
