// common
$font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";
$font-family-2: "Varela Round", sans-serif;
$bg-color: #f5f5f5;
$base-font-size: 16px;

// Line-Height
$base-line-height: 1.375;

// Breakpoints
$bp-xsmall: 425px; 
$bp-small: 48em; // 768px
$bp-xmedium: 992px;
$bp-medium: 64em; // 1024px
$bp-lmedium: 1200px;
$bp-large: 86em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-xmedium: "(min-width: #{$bp-xmedium})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-lmedium: "(min-width: #{$bp-lmedium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
